In [17]:
import pandas as pd
import numpy as np
from statsmodels.discrete.discrete_model import Probit
data = pd.read_csv("D:/SEMESTER-5/Ekonemetrika Terapan/Project/Dataset/UCI_Credit_Card.csv/UCI_Credit_Card.csv")
data = data.drop(columns=['ID'], axis=1)
data.head(3)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0

In [18]:
from sklearn.preprocessing import MinMaxScaler

y = data.iloc[:,-1]
X = data.iloc[:,:-1]

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [19]:
import statsmodels.api as sm

X = sm.add_constant(X)
model = Probit(y, X.astype(float))
probit_model = model.fit()
print(probit_model.summary())

Optimization terminated successfully.
         Current function value: 0.467997
         Iterations 6
                              Probit Regression Results
======================================================================================
Dep. Variable:     default.payment.next.month   No. Observations:                30000
Model:                                 Probit   Df Residuals:                    29976
Method:                                   MLE   Df Model:                           23
Date:                        Wed, 25 Sep 2024   Pseudo R-squ.:                  0.1144
Time:                                21:29:06   Log-Likelihood:                -14040.
converged:                               True   LL-Null:                       -15853.
Covariance Type:                    nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.4460      0.068     -6.607      0.000      -0.578      -0.314
LIMIT_BAL  -4.144e-07   8.66e-08     -4.784      0.000   -5.84e-07   -2.45e-07
SEX           -0.0596      0.018     -3.402      0.001      -0.094      -0.025
EDUCATION     -0.0556      0.012     -4.707      0.000      -0.079      -0.032
MARRIAGE      -0.0876      0.018     -4.860      0.000      -0.123      -0.052
AGE            0.0045      0.001      4.410      0.000       0.003       0.007
PAY_0          0.3117      0.010     31.634      0.000       0.292       0.331
PAY_2          0.0504      0.012      4.326      0.000       0.028       0.073
PAY_3          0.0386      0.013      3.011      0.003       0.013       0.064
PAY_4          0.0111      0.014      0.778      0.437      -0.017       0.039
PAY_5          0.0198      0.015      1.285      0.199      -0.010       0.050
PAY_6          0.0035      0.013      0.277      0.782      -0.021       0.028
BILL_AMT1   -2.62e-06   5.38e-07     -4.870      0.000   -3.67e-06   -1.57e-06
BILL_AMT2   8.989e-07   7.23e-07      1.244      0.213   -5.17e-07    2.32e-06
BILL_AMT3   5.907e-07   6.68e-07      0.884      0.377   -7.19e-07     1.9e-06
BILL_AMT4   4.571e-08   6.95e-07      0.066      0.948   -1.32e-06    1.41e-06
BILL_AMT5    2.77e-07   7.79e-07      0.355      0.722   -1.25e-06     1.8e-06
BILL_AMT6   6.695e-08   6.12e-07      0.109      0.913   -1.13e-06    1.27e-06
PAY_AMT1   -6.196e-06   9.89e-07     -6.262      0.000   -8.13e-06   -4.26e-06
PAY_AMT2   -4.223e-06   8.67e-07     -4.874      0.000   -5.92e-06   -2.52e-06
PAY_AMT3   -1.477e-06   8.18e-07     -1.805      0.071   -3.08e-06    1.27e-07
PAY_AMT4   -1.783e-06   8.36e-07     -2.133      0.033   -3.42e-06   -1.44e-07
PAY_AMT5   -1.407e-06   8.59e-07     -1.639      0.101   -3.09e-06    2.76e-07
PAY_AMT6   -8.658e-07   6.41e-07     -1.352      0.176   -2.12e-06     3.9e-07
==============================================================================

In [20]:
print(pd.crosstab(data["AGE"], data["LIMIT_BAL"], margins = True))

LIMIT_BAL  10000.0  16000.0  20000.0  30000.0  40000.0  50000.0  60000.0  \
AGE
21              15        0       28       18        0        5        1
22              57        0      168      112        2      137       15
23              57        0      163      118       17      244       44
24              40        0      196      115       26      213       68
25              19        0      113      112       13      212       51
26              18        0       77       73       23      170       43
27              22        0       83       63       19      146       56
28               8        0       59       58        7      122       43
29              16        0       49       58        6      134       41
30              10        0       50       48        5      100       29
31              10        0       51       38        3       97       35
32              10        0       46       30        2       85       21
33              11        0       38       48        6       82       23
34               8        0       54       39        3       94       21
35               9        0       44       48        6       85       19
36              13        0       45       38        6       90       27
37              19        0       43       28        8       84       20
38               9        0       46       55        7       74       26
39               2        0       38       37        5       77       20
40              10        0       51       21        3       65       18
41              11        0       32       34        4       89       18
42              12        0       30       39        3       84       21
43               8        0       47       29        9       68       14
44              10        0       38       36        6       73       13
45               8        0       42       33        4       74       16
46              16        1       44       24        3       75       15
47               6        0       34       38        7       69       11
48               5        1       31       22        8       58       20
49              10        0       30       28        5       72       12
50               7        0       35       19        1       51        9
51               9        0       27       20        1       57       10
52               5        0       27       22        2       45        6
53               5        0       26       25        2       42        7
54               5        0       13       17        0       43        4
55               3        0       13        9        3       36        4
56               4        0       22       14        2       26        2
57               1        0        7        7        1       23        6
58               2        0        6        9        0       23        2
59               1        0       10       11        1       10        4
60               0        0        2        8        1        8        3
61               1        0        7        1        0       11        1
62               1        0        6        2        0        1        1
63               0        0        3        1        0        2        2
64               0        0        1        1        0        3        2
65               0        0        0        0        0        2        0
66               0        0        0        0        0        0        1
67               0        0        0        4        0        0        0
68               0        0        0        0        0        0        0
69               0        0        1        0        0        1        0
70               0        0        0        0        0        2        0
71               0        0        0        0        0        0        0
72               0        0        0        0        0        1        0
73               0        0        0        0        0        0        0
74               0        0        0        0        0        0        0
75               0        0        0        0        0        0        0
79               0        0        0        0        0        0        0
All            493        2     1976     1610      230     3365      825

LIMIT_BAL  70000.0  80000.0  90000.0  ...  710000.0  720000.0  730000.0  \
AGE                                   ...
21               0        0        0  ...         0         0         0
22              21       28        1  ...         0         0         0
23              37       74       36  ...         0         0         0
24              50       80       43  ...         0         0         0
25              50      112       44  ...         0         0         0
26              47      103       36  ...         0         0         0
27              38      109       46  ...         0         0         0
28              31       65       37  ...         0         0         0
29              41       86       42  ...         0         0         0
30              33       59       19  ...         0         0         0
31              28       49       25  ...         0         0         0
32              22       51       23  ...         2         0         0
33              24       44       23  ...         1         0         0
34              28       47       22  ...         0         0         0
35              17       45       25  ...         0         0         0
36              19       49       21  ...         0         0         0
37              18       48       14  ...         0         0         1
38              20       39       12  ...         1         1         0
39              15       37       18  ...         0         0         0
40              19       40       16  ...         1         1         0
41              11       42       14  ...         0         0         0
42              19       34       13  ...         0         0         0
43              14       32        6  ...         0         0         0
44              14       31       13  ...         0         0         0
45              14       37       11  ...         0         1         0
46              10       29        7  ...         0         0         0
47              12       21       11  ...         0         0         0
48               8       20        8  ...         0         0         0
49              10       12        9  ...         0         0         0
50               8       15        9  ...         0         0         0
51               6       11        3  ...         1         0         0
52               4       19        7  ...         0         0         0
53               7       20        9  ...         0         0         0
54               4       18        4  ...         0         0         0
55               8       14        9  ...         0         0         0
56               2        8        4  ...         0         0         1
57               5        9        2  ...         0         0         0
58               2        1        4  ...         0         0         0
59               2        6        0  ...         0         0         0
60               2        8        1  ...         0         0         0
61               1        3        1  ...         0         0         0
62               6        2        2  ...         0         0         0
63               0        0        0  ...         0         0         0
64               1        1        0  ...         0         0         0
65               0        5        0  ...         0         0         0
66               0        1        0  ...         0         0         0
67               1        1        0  ...         0         0         0
68               0        0        1  ...         0         0         0
69               1        1        0  ...         0         0         0
70               0        0        0  ...         0         0         0
71               1        0        0  ...         0         0         0
72               0        0        0  ...         0         0         0
73               0        1        0  ...         0         0         0
74               0        0        0  ...         0         0         0
75               0        0        0  ...         0         0         0
79               0        0        0  ...         0         0         0
All            731     1567      651  ...         6         3         2

LIMIT_BAL  740000.0  750000.0  760000.0  780000.0  800000.0  1000000.0    All
AGE
21                0         0         0         0         0          0     67
22                0         0         0         0         0          0    560
23                0         0         0         0         0          0    931
24                0         0         0         0         0          0   1127
25                0         0         0         0         0          0   1186
26                0         0         0         0         0          0   1256
27                0         0         0         0         0          0   1477
28                0         1         0         0         0          0   1409
29                0         0         0         0         0          0   1605
30                0         0         0         0         0          0   1395
31                0         0         0         0         0          0   1217
32                0         0         0         0         0          0   1158
33                0         0         0         0         0          0   1146
34                0         0         0         0         0          0   1162
35                1         0         0         0         0          0   1113
36                0         0         0         0         0          0   1108
37                0         0         0         0         0          0   1041
38                0         0         0         0         0          0    944
39                0         0         0         0         0          0    954
40                0         1         0         0         0          0    870
41                0         1         0         1         0          0    824
42                0         0         0         0         0          0    794
43                0         1         0         0         0          0    670
44                0         0         0         0         0          0    700
45                0         0         0         0         0          0    617
46                0         0         0         0         1          0    570
47                0         0         0         0         0          1    501
48                0         0         0         1         0          0    466
49                0         0         0         0         0          0    452
50                1         0         0         0         0          0    411
51                0         0         0         0         0          0    340
52                0         0         0         0         0          0    304
53                0         0         0         0         1          0    325
54                0         0         1         0         0          0    247
55                0         0         0         0         0          0    209
56                0         0         0         0         0          0    178
57                0         0         0         0         0          0    122
58                0         0         0         0         0          0    122
59                0         0         0         0         0          0     83
60                0         0         0         0         0          0     67
61                0         0         0         0         0          0     56
62                0         0         0         0         0          0     44
63                0         0         0         0         0          0     31
64                0         0         0         0         0          0     31
65                0         0         0         0         0          0     24
66                0         0         0         0         0          0     25
67                0         0         0         0         0          0     16
68                0         0         0         0         0          0      5
69                0         0         0         0         0          0     15
70                0         0         0         0         0          0     10
71                0         0         0         0         0          0      3
72                0         0         0         0         0          0      3
73                0         0         0         0         0          0      4
74                0         0         0         0         0          0      1
75                0         0         0         0         0          0      3
79                0         0         0         0         0          0      1
All               2         4         1         2         2          1  30000

[57 rows x 82 columns]

In [23]:
# Membuat array berdasarkan kolom-kolom yang ada
wc_data0 = np.column_stack((
    np.mean(data['LIMIT_BAL']),
    np.mean(data['SEX']),
    np.mean(data['EDUCATION']),
    np.mean(data['MARRIAGE']),
    np.mean(data['AGE']),
    np.mean(data['PAY_0']),
    np.mean(data['PAY_2']),
    np.mean(data['PAY_3']),
    np.mean(data['PAY_4']),
    np.mean(data['PAY_5']),
    np.mean(data['PAY_6']),
    np.mean(data['BILL_AMT1']),
    np.mean(data['BILL_AMT2']),
    np.mean(data['BILL_AMT3']),
    np.mean(data['BILL_AMT4']),
    np.mean(data['BILL_AMT5']),
    np.mean(data['BILL_AMT6']),
    np.mean(data['PAY_AMT1']),
    np.mean(data['PAY_AMT2']),
    np.mean(data['PAY_AMT3']),
    np.mean(data['PAY_AMT4']),
    np.mean(data['PAY_AMT5']),
    np.mean(data['PAY_AMT6']),
    0  # Untuk case 'default.payment.next.month' 0
))

wc_data1 = np.column_stack((
    np.mean(data['LIMIT_BAL']),
    np.mean(data['SEX']),
    np.mean(data['EDUCATION']),
    np.mean(data['MARRIAGE']),
    np.mean(data['AGE']),
    np.mean(data['PAY_0']),
    np.mean(data['PAY_2']),
    np.mean(data['PAY_3']),
    np.mean(data['PAY_4']),
    np.mean(data['PAY_5']),
    np.mean(data['PAY_6']),
    np.mean(data['BILL_AMT1']),
    np.mean(data['BILL_AMT2']),
    np.mean(data['BILL_AMT3']),
    np.mean(data['BILL_AMT4']),
    np.mean(data['BILL_AMT5']),
    np.mean(data['BILL_AMT6']),
    np.mean(data['PAY_AMT1']),
    np.mean(data['PAY_AMT2']),
    np.mean(data['PAY_AMT3']),
    np.mean(data['PAY_AMT4']),
    np.mean(data['PAY_AMT5']),
    np.mean(data['PAY_AMT6']),
    1  # Untuk case 'default.payment.next.month' 1
))

In [25]:
print(probit_model.predict(wc_data0))
# print(probit_model.predict(wc_data1))

[0.]